* {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-image: url('images/background.jpg');
   background-size: cover;
   background-attachment: fixed;
}

#content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 100vh;
}

.header {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
   height: 6rem;
   font-size: 1.5rem;
   color: #eee;
   border-bottom: 1px solid #eee;
}

.main {
   display: flex;
   background-color: rgba(0, 0, 0, 0.6);
   max-width: 600px;
   height: 50vh;
   font-size: 1.5rem;
   color: #eee;
   padding: 1rem 2rem;
   border-radius: 14px;
}

.homepage {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.about-section,
.hours-section {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 2rem;
   font-size: 1rem;
   color: #eee;
   border-top: 1px solid #eee;
}